In [11]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [12]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ilulissat,GL,2021-11-24 02:39:24,69.2167,-51.1000,30.22,74,90,14.97
1,1,Tuktoyaktuk,CA,2021-11-24 02:39:24,69.4541,-133.0374,-5.80,77,75,4.61
2,2,Hamilton,US,2021-11-24 02:36:46,39.1834,-84.5333,35.78,67,1,0.00
3,3,Chernyshevskiy,RU,2021-11-24 02:39:25,63.0128,112.4714,-8.00,87,100,3.74
4,4,Mataura,NZ,2021-11-24 02:39:26,-46.1927,168.8643,63.54,46,100,6.73

In [13]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [14]:
# Coonfigure gmaps to use your Google API key
gmaps.configure(api_key = g_key)

In [15]:
# 1. Assign the locations to an array of latitude and longitude pairs.
#locations = [latitude, longitude]

# 2. Assign the weights variable to some values.
#temperatures = # an array of length equal to the locations array length

# 3. Assign the figure variable to the gmaps.figure() attribute.
#fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
#fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
#fig

In [16]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [18]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center = (30.0,31.0), zoom_level = 1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center = (30.0,31.0), zoom_level = 1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = clouds ,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = wind ,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [27]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
8,8,Poum,NC,2021-11-24 02:39:28,-20.2333,164.0167,78.89,78,100,5.77
14,14,Hilo,US,2021-11-24 02:39:31,19.7297,-155.0900,78.53,77,75,8.05
15,15,Rikitea,PF,2021-11-24 02:39:31,-23.1203,-134.9692,76.86,82,100,12.88
19,19,Hobyo,SO,2021-11-24 02:39:33,5.3505,48.5268,79.03,78,89,4.03
23,23,Ahuimanu,US,2021-11-24 02:39:35,21.4447,-157.8378,83.91,60,75,4.61
24,24,Mackay,AU,2021-11-24 02:39:35,-21.1500,149.2000,87.04,74,99,14.97
26,26,Wahiawa,US,2021-11-24 02:39:12,21.5028,-158.0236,80.92,62,75,10.36
33,33,Alyangula,AU,2021-11-24 02:39:39,-13.8483,136.4192,89.47,58,93,9.22
35,35,Kapaa,US,2021-11-24 02:38:06,22.0752,-159.3190,82.38,72,1,1.99
41,41,Porto Novo,BJ,2021-11-24 02:39:43,6.4965,2.6036,78.53,86,10,5.86

In [28]:
preferred_cities_df.count()

City_ID       131
City          131
Country       131
Date          131
Lat           131
Lng           131
Max Temp      131
Humidity      131
Cloudiness    131
Wind Speed    131
dtype: int64

In [29]:
# Create DataFrane called hotel_df to store hotel names along with city, country, max temp and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
8         Poum      NC     78.89 -20.2333  164.0167
14        Hilo      US     78.53  19.7297 -155.0900
15     Rikitea      PF     76.86 -23.1203 -134.9692
19       Hobyo      SO     79.03   5.3505   48.5268
23    Ahuimanu      US     83.91  21.4447 -157.8378
24      Mackay      AU     87.04 -21.1500  149.2000
26     Wahiawa      US     80.92  21.5028 -158.0236
33   Alyangula      AU     89.47 -13.8483  136.4192
35       Kapaa      US     82.38  22.0752 -159.3190
41  Porto Novo      BJ     78.53   6.4965    2.6036

In [30]:
# for our hotel search, we will use these parameters:
# 1. API keys, 2. Latitude and longtitude, 3. 5,000 meter radius, 4 type of place

# set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key" : g_key
}

In [34]:
# Iterate through the DataFrame
# we can use the iterrows() function to perform the iteration. 
for index, row in hotel_df.iterrows():
    # Get the latitude and longtitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index,"Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [35]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
8,Poum,NC,78.89,-20.2333,164.0167,Gîte kajeon
14,Hilo,US,78.53,19.7297,-155.0900,Hilo Hawaiian Hotel
15,Rikitea,PF,76.86,-23.1203,-134.9692,People ThankYou
19,Hobyo,SO,79.03,5.3505,48.5268,Halane Hotel and Restaurent
23,Ahuimanu,US,83.91,21.4447,-157.8378,Paradise Bay Resort
24,Mackay,AU,87.04,-21.1500,149.2000,International Lodge Motel
26,Wahiawa,US,80.92,21.5028,-158.0236,Aloha Wahiawa
33,Alyangula,AU,89.47,-13.8483,136.4192,Groote Eylandt Lodge
35,Kapaa,US,82.38,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
41,Porto Novo,BJ,78.53,6.4965,2.6036,Tour Eiffel Hotel Benin

In [36]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [39]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [40]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))